@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Yellowtail', Helvetica, sans-serif;
}

nav ul {
	padding-left: 0;
}

nav li {
	list-style: none;
	display: inline-block;
	padding-right: 0.5em;
	padding-top: 0.5em;
	margin-right: 0.5em;
}